<!DOCTYPE html>
<html lang="en">
  <%- include('../Admin-Partials/Header.ejs') %>

  <body class="nav-md" style="background-color: white">
    <div class="container body">
      <div class="main_container">
        <%- include('../Admin-Partials/Sidebar.ejs') %>

        <!-- top navigation -->
        <%- include('../Admin-Partials/Navbar.ejs') %>
        <!-- /top navigation -->

        <!-- page content -->
        <%- include('../Admin-Pages/mo/edit-content.ejs') %>
        <!-- /page content -->

        <!-- footer content -->
        <%- include('../admin-partials/footer.ejs') %>
        <!-- /footer content -->
      </div>
    </div>
    <%- include('../Admin-Partials/Scripts.ejs') %>
  </body>
</html>