<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="col-md-12 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Programming Contest<small>/Teams' List</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />
          <% let success3= 'Participant has been selected succesfully'%> <% let
          success= 'Data has been deleted successfully!'%> <% let success2=
          'Payment completed succesfully'%> <% if (error.length>0) {if
          (error==success||success2||success3){%>
          <div class="alert alert-success"><%=error%></div>
          <%}else{%>
          <div class="alert alert-danger"><%=error%></div>
          <%}%> <%}%>
          <div class="row">
            <div class="col-sm-12">
              <div class="card-box table-responsive">
                <table
                  id="datatable-responsive"
                  class="table table-striped table-bordered nowrap"
                  cellspacing="0"
                  width="100%"
                >
                  <thead>
                    <tr>
                      <!-- <th>ID</th> -->
                      <th>Team Name</th>
                      <th>Institute</th>
                      <th>Coach <br />Information</th>
                      <th>Team Leader <br />Information</th>
                      <th>Team Member1 <br />Information</th>
                      <th>Team Member2 <br />Information</th>
                      <th>Total</th>
                      <th>Paid</th>
                      <th>Unique<br/>Key</th>
                      <th>Selected</th>
                      <th>Payment <br />Status</th>
                      <th>Select</th>
                      <th>Payment<br />Done</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%if(participants.length>0){
                    participants.forEach(participant=>{%>
                    <tr>
                      <td><%=participant.teamName%></td>
                      <td><%=participant.institute%></td>
                      <td>
                        Name:&nbsp; <%=participant.coachName%><br />
                        Contact No:&nbsp; <%=participant.coachContact%><br />
                        Email:&nbsp; <%=participant.coachEmail%> <br />
                        Tshrit Size:&nbsp; <%=participant.coachTshirt%><br />
                      </td>
                      <td>
                        Name:&nbsp; <%=participant.TLName%><br />
                        Contact No:&nbsp; <%=participant.TLContact%> <br />
                        Email:&nbsp; <%=participant.TLEmail%> <br />
                        Tshrit Size:&nbsp; <%=participant.TLtshirt%> <br />
                      </td>
                      <td>
                        Name:&nbsp; <%=participant.TM1Name%><br />
                        Contact No:&nbsp; <%=participant.TM1Contact%> <br />
                        Email:&nbsp; <%=participant.TM1Email%> <br />
                        Tshrit Size:&nbsp; <%=participant.TM1tshirt%> <br />
                      </td>
                      <td>
                        Name:&nbsp; <%=participant.TM2Name%><br />
                        Contact No:&nbsp; <%=participant.TM2Contact%> <br />
                        Email:&nbsp; <%=participant.TM2Email%> <br />
                        Tshrit Size:&nbsp; <%=participant.TM2tshirt%> <br />
                      </td>
                      <td><%=participant.total%></td>
                      <td><%=participant.paid%></td>
                      <td><%=participant.key%></td>
                      <td>
                        <%if(participant.selected==true){%>
                        <p style="color: green">Yes</p>
                        <%}else{%>
                        <p style="color: brown">No</p>
                        <%}%>
                      </td>
                      <td>
                        <%if(participant.paid==participant.total){%>
                        <p style="color: green">Successful</p>
                        <%}else{%>
                        <p style="color: brown">Incomplete</p>
                        <%}%>
                      </td>
                      <td>
                        <% const selectURL= 'pc-select/'+ participant._id %>
                        <a href="<%= selectURL %>"
                          ><i class="fa fa-check"></i
                          ><span class="fa fa-chevron"></span
                        ></a>
                      </td>
                      <td>
                        <% const paymentDoneURL= 'pc-paymentDone/'+ participant._id
                        %>
                        <a href="<%= paymentDoneURL %>"
                          ><i class="fa fa-money"></i
                          ><span class="fa fa-chevron"></span
                        ></a>
                      </td>
                      <td>
                        <% const editURL= 'pc-edit-participant/'+participant._id %>
                        <a href="<%= editURL%>" 
                          ><i class="fa fa-pencil"></i
                          ><span class="fa fa-chevron"></span
                        ></a>
                      </td>
                      
                      <td>
                        <% const deleteURL= 'pc-delete/'+ participant._id %>
                        <a href="<%= deleteURL%>"
                          ><i class="fa fa-trash"></i
                          ><span class="fa fa-chevron"></span
                        ></a>
                      </td>
                    </tr>
                    <% }) }%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>